html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Sansita Swashed', cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 48px;
}

#root {
  min-height: 100%;
  position: relative;
}
nav {
  background-color: #3d4a7a;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

a {
  margin: 16px;
  text-decoration: none;
  color: white;
  font-size: large;
}

a:hover {
  text-shadow: 2px 2px 8px #000;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 100px 0px;
  background: url('./stuffed_croissant.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  margin: 0;
}

.home {
}

main h2 {
  font-weight: 500;
  font-size: 3rem;
}

main h4 {
  font-weight: 400;
  font-size: 1rem;
}

button {
  width: 150px;
  height: 40px;
  background-color: #c7957b;
  color: aliceblue;
  border: none;
  border-radius: 6px;
  transform: translate(0px, 5px);
  transition: 0.3s;
  margin-bottom: 15px;
}

button:hover {
  width: 180px;
  height: 50px;
}
.menu-content,
.about-content {
  background-color: rgb(215, 232, 232);
}

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  padding: 46px;
}

.about-content {
  display: flex;
  text-align: center;
  padding: 200px;
  /* height: 100%; */
}

footer {
  background-color: #3d4a7a;
  height: 48px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
}
